@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

body {
  padding: 0px;
}
.App-logo {
  animation-duration: 0ms;
}
header {
  background-image: url("./images/desktop/image-hero.jpg");
  background-size: cover;
  max-width: 100%;
  height: 646px;
  padding: 59px 11vw;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 161px;
}

.App-logo {
  width: 196px;
  height: 32px;
}

nav span {
  float: right;
}
nav span a {
  color: white;
  text-decoration: none;
  font-family: "Alata", sans-serif;
  padding-left: 31px;
  position: relative;
}
h1 {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 59px;
  margin: 0px;
  font-weight: 300;
}
#title {
  border: 2px solid white;
  width: 580px;
  height: 275px;
  padding: 42px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-top: 130px;
}
.leader {
  padding: 0px 11vw;
  box-sizing: border-box;
  height: 498px;
}
.leader article {
  background-color: white;
  width: 629px;
  height: 319px;
  box-sizing: border-box;
  padding: 95px 0px 0px 95px;
  right: 11vw;
  position: absolute;
  top: 991px;
}
h2 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  margin: 0;
  margin-bottom: 42px;
  font-weight: 300;
  display: inline;
}
p {
  margin: 0;
  font-family: "Alata", sans-serif;
  color: gray;
}
.ourCreations {
  padding: 0 11vw;
  margin-top: 179px;
}
.ourCreations button {
  float: right;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  height: 41px;
  width: 157px;
  border: 1px solid black;
  background-color: white;
  font-weight: 300;
}
button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.flex-container {
  display: flex;
  justify-content: center;
}
.grid-container article {
  width: 255px;
  height: 448px;
  color: white;
  /* margin-bottom: 31px; */
}
article img {
  z-index: 0;
}
.grid-container article:hover::before {
  position: absolute;
  content: " ";
  /* top: 90px;
  left: 0; */
  width: 257px;
  height: 450px;
  display: block;
  z-index: 0;
  background-color: rgba(224, 209, 182, 0.774);
}
h3 {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;

  font-size: 30px;
  margin: 0;
  width: 170px;
  padding: 38px 41px;
  z-index: 50;
  position: relative;
  top: -141px;
  font-weight: 300;
}
.grid-container article:hover {
  color: black;
}
article:nth-child(4) h3 {
  width: 50px;
}
.grid-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 255px 255px 255px 255px;
  column-gap: 31px;
  row-gap: 31px;
}
footer {
  height: 157px;
  background-color: black;
  color: white;
  box-sizing: border-box;
  margin-top: 120px;
  padding: 43px 11vw;
}
footer .App-logo {
  width: 145px;
  height: auto;
  display: block;
  position: relative;
  float: left;
}
footer a {
  padding-left: 14px;
  position: relative;
  float: right;
}
footer span {
  display: block;
  float: left;
}
footer span a {
  color: white;
  text-decoration: none;
  font-family: "Alata", sans-serif;
  padding-right: 31px;
  padding-left: 0px;
  position: relative;
}
span a:hover::after {
  content: "";
  position: absolute;
  /* left: 48px;
  right: 15px; */
  left: 55%;
  right: 20%;
  bottom: -12px;
  border: 1px solid white;
}

footer p {
  position: relative;
  float: right;
}
footer div {
  height: 50px;
}

/*these break points change the layout of the portfolio grid*/
@media only screen and (max-width: 1174px) {
  .grid-container {
    grid-template-rows: auto auto auto;
    grid-template-columns: 255px 255px 255px;
  }
}
@media only screen and (max-width: 889px) {
  .grid-container {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 255px 255px;
  }
}
@media only screen and (max-width: 603px) {
  .grid-container {
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 255px;
  }
}
/*this is the start of the mobile version*/
@media only screen and (max-width: 375px) {
}

/*FEF7F1*/
